#pane{
    -fx-background-image: url("Gspace.gif");
    -fx-background-repeat: stretch;   
    -fx-background-size: cover;
    -fx-background-position: center center;
}
#a2{
    -fx-background-image: url("Gsignin.gif");
    -fx-background-repeat: stretch;   
    -fx-background-size: cover;
    -fx-background-position: center center;
}
#a2email{
    -fx-background-image: url("Gsignin.gif");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}
#a3{
    -fx-background-image: url("Gsignin.gif");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}
#a4{
    -fx-background-image: url("Gsignin.gif");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}
#a7{
       -fx-background-image: url("a7.jpg");
       -fx-background-repeat: stretch;
       -fx-background-size: cover;
       -fx-background-position: center center;
   }

#a5{
          -fx-background-image: url("a7.jpg");
          -fx-background-repeat: stretch;
          -fx-background-size: cover;
          -fx-background-position: center center;
   }