@font-face{
    src: url("NotoSerif.ttf");
}


* {-fx-font-family: "Noto Serif";}

#pane, #a2, #a2email, #a3, #a4, #a7, #a5, #a6, #a8, #aEditprofile, #showTweet, #aDirect, #aWriteMassage{
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

#pane           {-fx-background-image: url("Gspace.gif");}
#a2             {-fx-background-color : #99cc99}
#a2email        {-fx-background-color : #99cc99}
#a3             {-fx-background-color : #99cc99}
#a4             {-fx-background-color : #99cc99}
#a7             {-fx-background-image: url("a7.jpg");}
#a5             {-fx-background-image: url("a7.jpg");}
#a6             {-fx-background-image: url("a7.jpg");}
#a8             {-fx-background-image: url("a7.jpg");}
#aEditprofile   {-fx-background-image: url("a7.jpg");}
#showTweet      {-fx-background-image: url("a7.jpg");}
#aDirect        {-fx-background-image: url("a7.jpg");}
#aWriteMassage  {-fx-background-image: url("a7.jpg");}


#start{
        -fx-background-color: transparent;
        -fx-border-radius: 20;
        -fx-border-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #5ed3f7ff 0.0%, #1763c6ff 100.0%);
        -fx-text-fill: #5ed3f7ff;
        -fx-background-radius: 20;
        -fx-effect: dropshadow(three-pass-box, #00000080, 10, 0, 0, 0);

}
#start:hover {
    -fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #5ed3f7ff 0.0%, #1763c6ff 100.0%);
        -fx-text-fill: Wheat;
}
#nextButton{
            -fx-background-color: transparent;
            -fx-border-radius: 20;
            -fx-border-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #5ed3f7ff 0.0%, #1763c6ff 100.0%);
            -fx-text-fill: #003333;
            -fx-background-radius: 20;
            -fx-effect: dropshadow(three-pass-box, #00000080, 10, 0, 0, 0);
}
#nextButton:hover {
    -fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #5ed3f7ff 0.0%, #1763c6ff 100.0%);
            -fx-text-fill: white;
}
#b2{
               -fx-background-color: transparent;
              -fx-border-radius: 20;
              -fx-border-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #5ed3f7ff 0.0%, #1763c6ff 100.0%);
              -fx-text-fill: #003333;
              -fx-background-radius: 20;
              -fx-effect: dropshadow(three-pass-box, #00000080, 10, 0, 0, 0);
}
#b2:hover {
    -fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #5ed3f7ff 0.0%, #1763c6ff 100.0%);
                -fx-text-fill: Wheat;
}
#b3{
                -fx-background-color: transparent;
                -fx-border-radius: 20;
                -fx-border-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #5ed3f7ff 0.0%, #1763c6ff 100.0%);
                -fx-text-fill: #003333;
                -fx-background-radius: 20;
                -fx-effect: dropshadow(three-pass-box, #00000080, 10, 0, 0, 0);
}
#b3:hover {
    -fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #5ed3f7ff 0.0%, #1763c6ff 100.0%);
                -fx-text-fill: Wheat;
}
#s1{
                -fx-background-color: transparent;
                -fx-border-radius: 20;
                -fx-border-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #5ed3f7ff 0.0%, #1763c6ff 100.0%);
                -fx-text-fill: #003333;
                -fx-background-radius: 20;
                -fx-effect: dropshadow(three-pass-box, #00000080, 10, 0, 0, 0);
}
#s1:hover {
    -fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #5ed3f7ff 0.0%, #1763c6ff 100.0%);
                -fx-text-fill: Wheat;
}
#s2{
                  -fx-background-color: transparent;
                 -fx-border-radius: 20;
                 -fx-border-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #5ed3f7ff 0.0%, #1763c6ff 100.0%);
                 -fx-text-fill: #003333;
                 -fx-background-radius: 20;
                 -fx-effect: dropshadow(three-pass-box, #00000080, 10, 0, 0, 0);
 }
 #s2:hover {
     -fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #5ed3f7ff 0.0%, #1763c6ff 100.0%);
                 -fx-text-fill: Wheat;
}
#v1 {
            -fx-background-color: transparent;
            -fx-border-radius: 20;
            -fx-border-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #5ed3f7ff 0.0%, #1763c6ff 100.0%);
            -fx-text-fill: #003333;
            -fx-background-radius: 20;
            -fx-effect: dropshadow(three-pass-box, #00000080, 10, 0, 0, 0);
}
#v1:hover {
-fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #5ed3f7ff 0.0%, #1763c6ff 100.0%);
                 -fx-text-fill: Wheat;
}
#v2 {
            -fx-background-color: transparent;
            -fx-border-radius: 20;
            -fx-border-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #5ed3f7ff 0.0%, #1763c6ff 100.0%);
            -fx-text-fill: #003333;
            -fx-background-radius: 20;
            -fx-effect: dropshadow(three-pass-box, #00000080, 10, 0, 0, 0);
}
#v2:hover {
-fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #5ed3f7ff 0.0%, #1763c6ff 100.0%);
                 -fx-text-fill: Wheat;
}
#edit{
            -fx-background-color: transparent;
            -fx-border-radius: 20;
            -fx-border-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #5ed3f7ff 0.0%, #1763c6ff 100.0%);
            -fx-text-fill: #003333;
            -fx-background-radius: 20;
            -fx-effect: dropshadow(three-pass-box, #00000080, 10, 0, 0, 0);
}
#edit:hover{
-fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #5ed3f7ff 0.0%, #1763c6ff 100.0%);
                 -fx-text-fill: black;
}

#postButton{
            -fx-background-color: transparent;
            -fx-border-radius: 20;
            -fx-border-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #5ed3f7ff 0.0%, #1763c6ff 100.0%);
            -fx-text-fill: #003333;
            -fx-background-radius: 20;
            -fx-effect: dropshadow(three-pass-box, #00000080, 10, 0, 0, 0);
}

#postButton:hover{
-fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #5ed3f7ff 0.0%, #1763c6ff 100.0%);
                 -fx-text-fill: black;
}
#save{
            -fx-background-color: transparent;
            -fx-border-radius: 20;
            -fx-border-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #5ed3f7ff 0.0%, #1763c6ff 100.0%);
            -fx-text-fill: #003333;
            -fx-background-radius: 20;
            -fx-effect: dropshadow(three-pass-box, #00000080, 10, 0, 0, 0);
}
#save:hover{

-fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #5ed3f7ff 0.0%, #1763c6ff 100.0%);
                 -fx-text-fill: black;
}
.email{
    -fx-background-color: #FFFFFFFF;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, #00000080, 10, 0, 0, 0);
}
.auser{
    -fx-background-color: #FFFFFFFF;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, #00000080, 10, 0, 0, 0);
}

.phoneNumber{
    -fx-background-color: #FFFFFFFF;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, #00000080, 10, 0, 0, 0);
}

.phoneNumberCountry{
    -fx-background-color: #FFFFFFFF;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, #00000080, 10, 0, 0, 0);
}
.firstName{
    -fx-background-color: #FFFFFFFF;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, #00000080, 10, 0, 0, 0);
}

.lastName{
    -fx-background-color: #FFFFFFFF;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, #00000080, 10, 0, 0, 0);
}

.userName{
    -fx-background-color: #FFFFFFFF;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, #00000080, 10, 0, 0, 0);
}

.password{
    -fx-background-color: #FFFFFFFF;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, #00000080, 10, 0, 0, 0);
}

.repeatPassword{
    -fx-background-color: #FFFFFFFF;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, #00000080, 10, 0, 0, 0);
}
.addtweet{

    -fx-line-height: 1.5em;
}

.search{
        -fx-background-color: #FFFFFFFF;
        -fx-background-radius: 20;
        -fx-effect: dropshadow(three-pass-box, #00000080, 10, 0, 0, 0);
}
.follow{
                -fx-background-color: #FFFFFFFF;
                -fx-background-radius: 20;
                -fx-effect: dropshadow(three-pass-box, #00000080, 10, 0, 0, 0);
}
.firstname{
                        -fx-background-color: #FFFFFFFF;
                        -fx-background-radius: 20;
                        -fx-effect: dropshadow(three-pass-box, #00000080, 10, 0, 0, 0);
}

.lastname{
                -fx-background-color: #FFFFFFFF;
                -fx-background-radius: 20;
                -fx-effect: dropshadow(three-pass-box, #00000080, 10, 0, 0, 0);
}

.bio{
                -fx-background-color: #FFFFFFFF;
                -fx-background-radius: 20;
                -fx-effect: dropshadow(three-pass-box, #00000080, 10, 0, 0, 0);
}

.city{
                -fx-background-color: #FFFFFFFF;
                -fx-background-radius: 20;
                -fx-effect: dropshadow(three-pass-box, #00000080, 10, 0, 0, 0);
}

.website{
                -fx-background-color: #FFFFFFFF;
                -fx-background-radius: 20;
                -fx-effect: dropshadow(three-pass-box, #00000080, 10, 0, 0, 0);
}


